body {
    direction:rtl;
}
nav div {
    position: fixed;
}
#fnavdiv {
    margin-right: auto;
}
#mainNav {
    border-radius: 0px;
    margin-bottom: 0px;
    position:fixed;
}
.rightfc {
    margin:auto;
    float:right;
    clear:right;
}
.leftfc {
    margin: auto;
    float: left;
    clear: both;
}
